<h1>Hello {{user.username}}!</h1>

  <form action="/profile" method="POST"\>

      <label for="title">title</label> 
      <input id="title" type="text" name="title">

      <label for="genre">genre</label> 
      <input id="genre" type="text" name="genre">
    
      <label for="city">city</label> 
      <input id="city" type="number" name="city">

      <label for="story">story</label> 
      <input id="story" type="text" name="story">

          <button type="submit">Add</button>

  </form>

  {{#each storyList}}

      <div style="margin-top: 50px; background-color: white; height: 150px; width: 900px;">

          <span style="color: black;font-weight:bold"> title: </span> {{ this.title }} 
          <span style="color: black;font-weight:bold"> genre: </span> {{ this.genre }}  
          <span style="color: black;font-weight:bold"> city: </span> {{ this.city }} <br>
          <span style="color: black;font-weight:bold"> story: </span> {{ this.story }} 

          <form action="/stories/{{this._id}}/delete" method="POST">
                <button class="general-button delete-button" type="sumbit">Delete</button>
          </form>

    </div>

  {{/each}} 

 



<a href="/stories" class="button">main page</a>

<a href="/logout" class="button1"> Log out</a>

